<!DOCTYPE html>
<html>
    <head>
        <title>CDPSfy</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link href='https://fonts.googleapis.com/css?family=Ubuntu&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <header>
            <a id="logo" href="/">
                <img src="/images/logo.jpg" alt="Image not found.">
            </a>
            <nav>
                <ul>
                    <li><a href="/tracks"> My Tracks </a></li>
                    <li><a href="/tracks/new"> Upload Tracks </a></li>
                </ul>
            </nav>
        </header>
        <div id="container">
            <div id="container-body"><%- body %></div>
        </div>
    </body>
</html>