<form class="formulario" action="/tracks" method="post" enctype="multipart/form-data">
	<label class="upload_field">Upload a new track:</label>
	<br>
	<br>
	<%if (errorformat) { %>
		<label style="color:red;" id="errormessage"> Select a file to upload with the correct format (MP3, WAV or OGG) please. </label>
	<% } %>
	<%if (errornosongfound) { %>
		<label style="color:red;" id="notfoundmessage"> Select a file to upload please. </label>
	<% } %>
	<input class="upload_field" type="file" name="track"/><br><br>
	<%if (errorformatImage) { %>
		<label style="color:red;" id="errorformatImage"> Supported files: png, jpg, jpeg. </label>
	<% } %>
	<label class="upload_field">Upload an image for the track: </label><br>
	<input class="upload_field" type="file" name="image"/>
	<br>
	<button id="upload" class="hint upload_field" type="submit">Upload</button>
	<br>
	<%if (msgsuccess) { %>
		<label style="color:green;" id="successmessage"> File uploaded successfully. </label>
	<% } %>
	<span class="hint upload_field">Supported files: MP3, Wav, and Ogg</span>
</form>